<ion-header>
  <ion-toolbar>
    <ion-title>กิจกรรม</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="detail">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-list>

      <ion-item *ngFor="let item of (activity | async)">
          <ion-avatar slot="start">
            <img src="https://previews.123rf.com/images/kitipol/kitipol1510/kitipol151000032/46627692-football-badge-logo-template-design-soccer-team-vector-illuatration.jpg">
          </ion-avatar>
          <ion-label>
            <h2>{{ item?.name }}</h2>
            <p>{{ item?.notes }}</p>
          </ion-label>
          <ion-icon name='chatbubbles' item-start (click)="clickJoinChat(item.id)"></ion-icon>
          <ion-icon *ngIf="item.id" name="create" [routerLink]="['/members', 'tabs', 'tabActivity', item.id]"></ion-icon>
        </ion-item>
  </ion-list>
</ion-content>